@media only screen and (min-width: 600px) and (max-width: 999px){
    * {
        margin: 0;
        padding: 0;
    }
    
    body {
        /*background: linear-gradient(to top, transparent, rgba(40, 59, 90, 0.769)), url("../../media/images/czBackground.jpg");*/
        background-image:  url("../../media/images/czBackground.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        background-attachment: fixed; /* Fixed background */
    }
    
    .top {
        margin-top: 2%;
        margin-right: 2%;
        margin-left: 2%;
        display: flex;
        flex-direction: column;
    }
    
    .top .buttons {
        display: flex;
        justify-content:center;
    }
    
    .buttons button {
        margin: 13px 3px;
        padding: 10px;
        border-radius: 10px;
        border: none;
        background-color: bisque;
    }
    
    .top button a {
        font-size: 16px;
        text-decoration: none;
        font-family:'Mooli', sans-serif;
        color:rgb(72, 108, 173);
        font-weight: 700;
    }
    
    .buttons button:hover {
        background-color: rgb(255, 214, 156);
    }
    
    .top .title {
        display: flex;
        justify-content:flex-start;
        margin: 5px;
        padding: 10px 10px;
        font-family:'Mooli', sans-serif;
    }
    
    .title span {
        font-size: 25px;
        font-weight: 800;
        color:bisque;
    }
    
    .main {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: rgba(255, 235, 205, 0.8);
        margin-top: 5%;
        margin-bottom: 6%;
        margin-left: 10%;
        margin-right: 10%;
        padding-top: 5%;
        padding-bottom: 3%;
        padding-left: 2%;
        padding-right: 2%;
        border-radius: 10px;
        box-shadow: 5px 5px 5px rgb(173, 159, 138);
        font-weight: 600;
    }
    
    .main p{
        font-family:'Mooli', sans-serif;
        font-size: 18px;
        margin-bottom: 20px;
        color:rgb(60, 86, 136);
        word-spacing: 3px;
    }
    
    .main label, input, select, button {
        font-family:'Mooli', sans-serif;
        font-size: 20px;
    }
    
    .main button {
        margin-top: 30px;
        padding: 8px;
        border-radius: 7px;
        border: none;
        background-color: rgb(255, 239, 217);
        font-weight: 600;
    }
    
    .main button:hover {
        background-color: rgb(255, 214, 156); 
    }
}

