@media only screen and (max-width: 599px){
    * {
        margin: 0;
        padding: 0;
    }
    
    body {
        /*background: linear-gradient(to top, transparent, rgba(40, 59, 90, 0.769)), url("../../media/images/czBackground.jpg");*/
        background-image:  url("../../media/images/czBackground.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        background-attachment: fixed; /* Fixed background */
    }
    
    .top {
        margin-top: 2%;
        margin-right: 1%;
        margin-left: 1%;
        display: flex;
        flex-direction: column;
    }
    
    .top .buttons {
        display: flex;
        flex-direction: column;
        justify-content:center;
    }
    
    .buttons button {
        margin: 5px 5%;
        padding: 15px 10px;
        border-radius: 10px;
        border: none;
        background-color: rgba(255, 228, 196, 0.9);
    }
    
    .top button a {
        font-size: 18px;
        text-decoration: none;
        font-family:'Mooli', sans-serif;
        color:rgb(50, 75, 121);
        font-weight: 700;
    }
    
    .top .title {
        display: flex;
        justify-content:flex-start;
        margin: 5px;
        padding: 10px 10px;
        font-family:'Mooli', sans-serif;
    }
    
    .title span {
        font-size: 20px;
        font-weight: 800;
        color:bisque;
    }
    
    .main {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: rgba(255, 235, 205, 0.9);
        margin-top: 5%;
        margin-bottom: 6%;
        margin-left: 5%;
        margin-right: 5%;
        padding-top: 5%;
        padding-bottom: 2%;
        padding-left: 3%;
        padding-right: 2%;
        border-radius: 10px;
        font-weight: 600;
        box-shadow: none;
    }
    
    .main p{
        font-family:'Mooli', sans-serif;
        font-size: 17px;
        margin-bottom: 20px;
        color:rgb(60, 86, 136);
        word-spacing: 3px;
    }
    
    .main label, input, select, button {
        font-family:'Mooli', sans-serif;
        font-size: 19px;
    }
    
    .main button {
        margin-top: 30px;
        padding: 8px;
        border-radius: 7px;
        border: none;
        background-color: rgb(255, 216, 162);
        font-weight: 600;
    }
}

