@media only screen and (max-width: 599px){

* {
    margin: 0;
    padding: 0;
}

body {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed; /* Fixed background */
}

.top {
    margin-top: 2%;
    margin-right: 1%;
    margin-left: 1%;
    display: flex;
    flex-direction: column;
}

.top .buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.buttons button {
    margin: 5px 5%;
    padding: 15px 10px;
    border-radius: 10px;
    border: none;
    background-color: rgba(147, 33, 33, 0.92);
}

.top button a {
    font-size: 18px;
    text-decoration: none;
    font-family:'Mooli', sans-serif;
    color:rgb(255, 251, 141);
    font-weight: 700;
}

.top .title {
    display: flex;
    justify-content: center;
    margin: 5px;
    padding: 10px 10px;
    font-family:'Mooli', sans-serif;
}

.title span {
    font-size: 22px;
    font-weight: 800;
    color:rgb(253, 167, 96);
}

.result {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(250, 179, 128, 0.798);
    margin-top: 5%;
    margin-bottom: 6%;
    margin-left: 5%;
    margin-right: 5%;
    padding-top: 5%;
    padding-bottom: 4%;
    padding-left: 4%;
    padding-right: 2%;
    border-radius: 10px;
    font-weight: 600;
    box-shadow: none;
    font-family:'Mooli', sans-serif;
    font-size: 19px;
    color:rgb(34, 1, 1);
    word-spacing: 3px;
}

.result button {
    margin-top: 20px;
    padding: 8px;
    border-radius: 7px;
    border: none;
    background-color: rgb(232, 200, 156);
    font-weight: 600;
    font-family:'Mooli', sans-serif;
    font-size: 18px;
}

.result button a {
    text-decoration: none;
    color:rgb(34, 1, 1);
}

#result {
    line-height: 30px;
}

.default-background {
    background-image: url('../../media/images/job549-hein-color-018.jpg');
}

.rat-background {
    background-image: url('../../media/images/rat.jpg');
    /* Additional background styles */
}

.ox-background {
    background-image: url('../../media/images/ox.jpg');
    /* Additional background styles */
}

.tiger-background {
    background-image: url('../../media/images/tiger.jpg');
    /* Additional background styles */
}

.rabbit-background {
    background-image: url('../../media/images/rabbit.jpg');
    /* Additional background styles */
}

.dragon-background {
    background-image: url('../../media/images/dragon.jpg');
    /* Additional background styles */
}

.snake-background {
    background-image: url('../../media/images/snake.jpg');
    /* Additional background styles */
}

.horse-background {
    background-image: url('../../media/images/horse.jpg');
    /* Additional background styles */
}

.goat-background {
    background-image: url('../../media/images/goat.jpg');
    /* Additional background styles */
}

.monkey-background {
    background-image: url('../../media/images/monkey.jpg');
    /* Additional background styles */
}

.rooster-background {
    background-image: url('../../media/images/rooster.jpg');
    /* Additional background styles */
}

.dog-background {
    background-image: url('../../media/images/dog.jpg');
    /* Additional background styles */
}

.pig-background {
    background-image: url('../../media/images/pig.jpg');
    /* Additional background styles */
}
}

