@media only screen and (min-width: 1000px) and (max-width: 1600px) {
    * {
        margin: 0;
        padding: 0;
    }
    body {
        background-image:  url("../../media/images/ftBack.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        background-attachment: fixed; /* Fixed background */
    }
    
    .top {
        margin-top: 2%;
        margin-right: 1%;
        margin-left: 1%;
        display: flex;
        justify-content:space-between;
    }
    
    .top .buttons {
        display: flex;
        justify-content:flex-end;
    }
    
    .buttons button {
        margin: 13px 3px;
        padding: 10px;
        border-radius: 10px;
        border: none;
        background-color: rgba(255, 228, 196, 0.765);
    }
    
    .top button a {
        font-size: 16px;
        text-decoration: none;
        font-family:'Mooli', sans-serif;
        color:rgb(72, 108, 173);
        font-weight: 700;
    }
    
    .buttons button:hover {
        background-color: rgba(255, 214, 156, 0.774);
    }
    
    .top .title {
        display: flex;
        justify-content:flex-start;
        margin: 5px;
        padding: 10px 10px;
        font-family:'Mooli', sans-serif;
    }
    
    .title span {
        font-size: 25px;
        font-weight: 800;
        color:bisque;
    }
    
    .result {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: rgba(255, 235, 205, 0.737);
        margin-top: 3%;
        margin-bottom: 3%;
        margin-left: 10%;
        margin-right: 10%;
        padding-top: 2%;
        padding-bottom: 2%;
        padding-left: 2%;
        padding-right: 2%;
        border-radius: 10px;
        box-shadow: 5px 5px 5px rgb(103, 96, 85);
        font-weight: 600;
        font-family:'Mooli', sans-serif;
        font-size: 19px;
        color:rgb(0, 0, 0);
        word-spacing: 3px;
    }
    
    .result button {
        margin-top: 20px;
        padding: 8px;
        border-radius: 7px;
        border: none;
        background-color: rgb(255, 239, 217);
        font-weight: 900;
        font-family:'Mooli', sans-serif;
        font-size: 17px;
    }
    
    .result button:hover {
        background-color:  rgb(255, 214, 156);
    }
    
    .result button a {
        text-decoration: none;
        color:rgb(0, 0, 0);
    }
    
    #result {
        line-height:35px;
    }
}
