@media only screen and (min-width: 1000px) and (max-width: 1600px) {
    * {
        margin: 0;
        padding: 0;
    }
    
    body {
        background: linear-gradient(to top, transparent, rgba(66, 122, 168)), url("../../media/images/MainBackG.jpg");
        /*background-image: url("../../media/images/MainBackG.jpg");*/
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        background-attachment: fixed; /* Fixed background */
    }
    
    .title {
        margin-top: 5%;
        margin-left: 10%;
        margin-right: 10%;
    }
    
    .title p {
        font-family: 'Roboto', sans-serif;
        font-size: 45px;
        font-weight: 900;
        color:rgb(129, 232, 255);
    }

    .title span {
        color:fuchsia;
    }
    
    .buttons {
        margin-top: 5%;
        margin-bottom: 5%;
        margin-left: 10%;
        margin-right: 10%;
    }
    
    button {
        border: none;
        margin-right: 2%;
        margin-bottom: 25px;
        background-color: transparent;
    }
    
    button a {
        padding: 10px;
        font-size: 20px;
        font-weight: 800;
        /*font-family:'Mooli', sans-serif;*/
        font-family: 'Roboto', sans-serif;
        text-decoration: none;
        color:rgb(185, 242, 255);
        border: 1px solid rgb(129, 232, 255);;
    }
    
    a:hover {
        color:rgb(225, 0, 255);
        background-color: rgba(129, 232, 255, 0.595);;
    }
    
    a:active {
        color: rgb(242, 147, 255);
    }
    
    .buttons span {
        color:fuchsia;
        font-size: 25px;
    }
}

